#map {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

ul.actor-list {
  padding-inline-start: 0px !important;
  list-style: none;
}

ul.actor-list li {
  display: inline-block;
}

ul.actor-list li:not(:last-child):after {
  content: ", ";
}
